@import 'header.sass','banner.sass','about.sass','directions.sass','features.sass', 'location.sass', 'footer.sass','project1_slider.sass','project1_landmarks.sass'
    
$green: #8FBF00
$orange: #FFAA00
$basefont: #00141E
$menuitems: #808080
$linkhover: #8FBF00
$linkactive: #FFAA00
body 
    font-size: 18px
    color: $basefont
    font-family: 'Ubuntu', sans-serif
a 
    text-decoration: none !important
    color: $basefont
    &:hover
        color: $linkhover
    &:active
        color: $linkactive
        

h3 
    font-size: 36px
.wrapper 
    display: grid
    grid-template-rows: minmax(30px, auto) 100%
    grid-template-columns: 100%
    max-width: 1200px
    margin: 0 auto

.main 
    grid-row: 2/3
    grid-column: 1/2
    display: grid
    grid-template-rows: minmax(600px, auto) minmax(500px, auto) minmax(2000px, auto) minmax(636px, auto) minmax(720px, auto) minmax(90px, auto)
    grid-row-gap: 50px
    margin-top: 35px

.project1-main
    grid-row: 2/3
    grid-column: 1/2
    display: grid
    grid-template-rows: minmax(500px, auto) minmax(1600px, auto)
    margin-top: 35px
    grid-row-gap: 35px

@media screen and (max-width: 1024px)
    .wrapper
        max-width: 900px

@media screen and (max-width: 768px)
    .wrapper
        max-width: 700px

@media screen and (max-width: 320px)
    .wrapper
        max-width: 300px

@media screen and (max-width: 620px)


@media screen and (max-width: 768px)
    .wrapper 
        max-width: 700px
    .main
        grid-template-rows: minmax(700px, auto) minmax(500px, auto)  minmax(1800px, auto) minmax(980px, auto) minmax(980px, auto) minmax(160px, auto)

@media screen and (max-width: 570px)
    .wrapper
        grid-template-rows: 150px 
    .main
        grid-template-rows: minmax(1000px, auto) minmax(500px, auto)  minmax(1800px, auto) minmax(980px, auto) minmax(980px, auto) minmax(160px, auto)

@media screen and (max-width: 684px)
    .project1-main
        grid-template-rows: minmax(800px, auto) minmax(1600px, auto) 

@media screen and (max-width: 450px)
    .project1-main
        grid-template-rows: minmax(850px, auto) minmax(2500px, auto) 
