.slider 
    grid-row: 1/2
    grid-column: 1/2
    display: grid
    grid-template-columns: auto 145px auto
    grid-template-rows: 100%
    grid-column-gap: 30px
    
    &__full-image
        grid-row: 1/2
        grid-column: 1/2
        img
            width: 500px
            border-radius: 0px 20px 20px 20px

    &__preview 
        grid-row: 1/2
        grid-column: 2/3
        display: flex
        flex-direction: column

        a 
            margin-top: 30px
            &:first-child
                margin-top:0
        &__active
            opacity: 0.7
            transition: transform 2s ease
        img 
            width: 145px
    &__text
        grid-row: 1/2
        grid-column: 3/4
        margin-left: 30px
        h3
            margin: 0
            padding: 0
        p 
            line-height: 28px

#slider-preview-
    &1
        border-radius: 0px 200px 200px 200px
    &2 
        border-radius: 0px 200px 200px 200px
    &3 
        border-radius: 0px 200px 200px 200px


@media screen and (max-width: 1150px)
    .slider
        grid-template-columns: auto 135px auto
        grid-column-gap: 15px
        margin-top: 50px

        &__text
            margin-left: 0
        &__preview
            img 
                width: 125px

@media screen and (max-width: 1024px)
    .slider
        grid-template-columns: 50% 50%
        grid-template-rows: 73% 27%
        &__full-image
            grid-row: 1/2
            grid-column: 1/2
            justify-self: center
            img 
                width: 375px
        &__preview
            grid-row: 2/3
            grid-column: 1/2
            flex-direction: row
            justify-self: center
            img 
                width: 108px
            a 
                flex: 0
                margin-right: 25px
                &:last-child
                    margin-right: 0
                &:first-child
                    margin-top: 30px
        &__text
            grid-row: 1/2
            grid-column: 2/3
@media screen and (max-width: 768px)
    .slider
        grid-template-rows: 80% 20%
        grid-template-columns: 45% 55%
        // &__text
        //     word-break: break-all
        &__full-image
            img
                width: 299px
        &__preview
            margin-top: -50px
            img 
                width: 86px
@media screen and (max-width: 684px)
    .slider
        grid-template-rows: 300px 86px 300px
        grid-template-columns: 100%
        grid-row-gap: 25px
        margin-top: 0
        &__full-image
            grid-row: 1/2
            grid-column: 1/2
        &__preview
            grid-row: 2/3
            grid-column: 1/2
            margin-top: 0
            display: block
        &__text
            grid-row: 3/4
            grid-column: 1/2
@media screen and (max-width: 475px)
    .slider
        grid-template-rows: 300px 86px 350px

@media screen and (max-width: 390px)
    .slider
        grid-template-rows: 300px 86px 400px
@media screen and ( max-width: 364px )
    .slider
        grid-template-rows: 300px 86px 500px 
@media screen and ( max-width: 332px )
    .slider
        grid-template-rows: 310px 86px 500px
        &__preview
            a 
                margin-right: 10px

    