.header {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 3.8fr;
  align-items: center;
}
.header__main-menu {
  display: grid;
  grid-template-columns: 0.7fr 0.4fr 2.2fr 0.4fr;
}
.header__phone {
  justify-self: start;
  margin-left: 30px;
  font-weight: bold;
  align-self: center;
}
.header__messengers {
  align-self: center;
}
.header__messengers a:nth-child(2) {
  margin-left: 15px;
}
.header__menu {
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  align-self: center;
}
.header__menu ul {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
.header__menu li {
  display: inline;
}
.header__menu-item-main {
  margin-right: 20px;
}
.header__menu-item-main:nth-child(3) {
  margin-right: 40px;
}
.header__menu-item-main a {
  color: #808080;
}
.header__menu-item-project {
  margin-right: 20px;
}
.header__menu-item-project:nth-child(2) {
  margin-right: 0;
}
.header__socials {
  justify-self: end;
}
.header__socials a:nth-child(1) {
  margin-right: 15px;
}
.header__burger {
  display: none;
}

@media screen and (max-width: 1150px) {
  .wrapper {
    max-width: 970px;
  }

  .header {
    grid-template-rows: 80px;
  }
  .header__main-menu {
    grid-template-rows: 0.2fr 1fr;
    grid-template-columns: 180px 100px 1fr;
    margin-top: 50px;
  }
  .header__phone {
    margin-left: 40px;
  }
  .header__messengers {
    margin-left: 20px;
  }
  .header__socials {
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: start;
    margin-left: 40px;
  }
  .header__menu {
    grid-row: 2/3;
    grid-column: 1/4;
    margin-left: -260px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 570px) {
  .header__burger {
    display: block;
    justify-self: center;
    grid-column: 2/3;
  }
  .header__main-menu {
    border-top: 2px solid #EBEBEB;
    border-bottom: 2px solid #EBEBEB;
    grid-column: 1/3;
    align-self: start;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 0.5fr;
    padding-bottom: 20px;
    transform: translateX(-130%);
    transition: transform 0.2s ease;
    background-color: #fff;
    padding-bottom: 20px;
    width: 98%;
  }
  .header__menu {
    grid-row: 1/2;
    grid-column: 1/3;
    margin-left: 50px;
    margin-top: 22px;
    line-height: 48px;
  }
  .header__menu ul {
    margin: 0;
    padding: 0;
  }
  .header__menu ul li {
    display: block;
  }
  .header__phone {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-left: 50px;
  }
  .header__messengers {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 50px;
  }
  .header__socials {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    justify-self: start;
    margin: 0;
  }
  .header .ham {
    /* always keep ham on top of everything */
    z-index: 1000;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* show the menu image */
    background-image: url("../img/open_menu.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 22px;
    top: 33px;
  }
  .header .showNav {
    transform: translateX(0);
  }
  .header .showClose {
    width: 26.21px;
    height: 26.38px;
    top: 30px;
    background-image: url("../img/close_menu.svg");
  }
}
.banner {
  transition: transform 0.2s ease;
}

.moveBanner {
  transform: translateY(380px);
  transition: transform 0.2s ease;
}

@media screen and (max-width: 620px) {
  .header__main-menu {
    grid-template-columns: 150px 85px 85px;
  }
}
.main {
  transition: transform 0.2s ease;
}

.moveBanner {
  transform: translateY(380px);
  transition: transform 0.2s ease;
}

.banner {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  grid-template-rows: 72px 104px 1fr;
  max-height: 600px;
  background: url("../img/banner.jpg");
  border-radius: 0px 20px 300px;
  color: #fff;
  padding-top: 54px;
  padding-left: 74px;
}
.banner__title {
  grid-row: 1/2;
  align-self: start;
  justify-self: start;
}
.banner__title h1 {
  font-size: 72px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.banner__desc {
  grid-row: 2/3;
  align-self: start;
  justify-self: start;
  margin-top: 20px;
  width: 900px;
}
.banner__desc h2 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 42px;
}
.banner__buttons {
  margin-top: 65px;
}
.banner__buttons li:nth-child(1) > a {
  background: #8FBF00;
  border-radius: 0px 20px 20px 20px;
}
.banner__buttons li:nth-child(1) > a:hover {
  background: #ffffff;
  border: 2px solid #8FBF00;
  padding: 28px 68px 28px 68px;
  color: #8FBF00;
}
.banner__buttons li:nth-child(2) > a {
  background: #FFAA00;
  border-radius: 20px 20px 0px 20px;
}
.banner__buttons li:nth-child(2) > a:hover {
  background: #ffffff;
  border: 2px solid #FFAA00;
  padding: 28px 68px 28px 68px;
  color: #FFAA00;
}
.banner__buttons a {
  padding: 30px 70px 30px 70px;
  color: #fff;
}
.banner__buttons ul {
  margin: 0;
  padding: 0;
}
.banner__buttons ul li {
  display: inline;
}
.banner__buttons ul li:nth-child(2) {
  margin-left: 30px;
}

@media screen and (max-width: 1150px) {
  .banner {
    margin-top: 40px;
    max-width: 900px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    padding: 0;
  }
  .banner__title {
    width: 339px;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 74px;
    line-height: 64px;
    margin-left: 74px;
  }
  .banner__desc {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 74px;
    max-width: 395px;
  }
  .banner__buttons {
    margin-left: 74px;
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    background: #fff;
    max-width: 100%;
    object-fit: cover;
    grid-template-rows: 1fr 1fr 1.3fr;
  }
  .banner__title {
    background: url("../img/banner.jpg") no-repeat;
    border-radius: 0px 20px 175px;
    padding: 76px 95% 74px 0;
    margin: 0;
    background-size: contain;
    background-size: 110%;
  }
  .banner__title h1 {
    margin-left: 74px;
  }
  .banner__desc {
    grid-row: 2/3;
    color: #000;
    grid-column: 1/3;
    max-width: 600px;
    justify-self: start;
    margin-top: 40px;
  }
  .banner__buttons {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-left: 0;
    margin-top: 70px;
  }
}
@media screen and (max-width: 570px) {
  .banner {
    grid-row: 1/2;
    max-width: 100%;
    object-fit: cover;
    grid-template-rows: 450px 350px 300px;
    margin-top: -50px;
  }
  .banner__title {
    grid-row: 1/3;
    width: 100%;
    padding-bottom: 300px;
    background-size: cover;
  }
  .banner__title h1 {
    margin-top: -40px;
    margin-left: 40px;
    font-size: 36px;
    line-height: 36px;
  }
  .banner__desc {
    grid-row: 2/3;
    color: #000;
    grid-column: 1/3;
    max-width: 300px;
    justify-self: start;
    margin-top: 40px;
    min-height: 350px;
  }
  .banner__desc h2 {
    font-size: 36px;
  }
  .banner__buttons {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-left: 0;
    margin-top: 70px;
  }
  .banner__buttons ul {
    margin: 0;
    padding: 0;
  }
  .banner__buttons ul li {
    display: block;
  }
  .banner__buttons ul li:nth-child(2) {
    margin-left: 0;
    margin-top: 99px;
  }
}
.about {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 30% 1fr;
  grid-column-gap: 30px;
}
.about h3 {
  margin: 0;
}
.about__image {
  background: url("../img/about.jpg");
  grid-row: 1/3;
  grid-column: 1/2;
  background-size: cover;
  border-radius: 0px 20px 20px 20px;
}
.about__about-us {
  grid-row: 1/2;
  grid-column: 2/3;
}
.about__our-goal {
  grid-row: 2/3;
  grid-column: 2/3;
}

@media screen and (max-width: 570px) {
  .about {
    grid-row: 2/3;
    grid-column: 1/2;
    grid-template-rows: 150px 1fr 1fr;
    grid-template-columns: 300px;
    grid-column-gap: 0;
  }
  .about__image {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .about__about-us {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .about__our-goal {
    grid-row: 3/4;
    grid-column: 1/3;
  }
}
.directions {
  grid-row: 3/4;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 140px minmax(600px, auto) minmax(600px, auto) minmax(550px, auto) 100px;
  grid-row-gap: 50px;
  text-align: center;
}
.directions img {
  width: 85%;
}
.directions p {
  font-size: 36px;
}
.directions__title {
  grid-row: 1/2;
  grid-column: 1/3;
  text-align: left;
}
.directions__dir-1 {
  grid-row: 2/3;
  grid-column: 1/2;
}
.directions__dir-2 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.directions__dir-3 {
  grid-row: 3/4;
  grid-column: 1/2;
}
.directions__dir-4 {
  grid-row: 3/4;
  grid-column: 2/3;
}
.directions__dir-5 {
  grid-row: 4/5;
  grid-column: 1/2;
}
.directions__dir-6 {
  grid-row: 4/5;
  grid-column: 2/3;
}
.directions__last-note {
  grid-row: 5/6;
  grid-column: 1/3;
}

@media screen and (min-width: 1024px) {
  .directions__last-note {
    margin-top: -100px;
  }
}
@media screen and (max-width: 1023px) {
  .directions__last-note {
    margin-top: -190px;
  }
}
@media screen and (min-width: 800px) {
  .directions__dir-6 p {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .directions {
    grid-row-gap: 0;
  }
  .directions__dir-1 {
    margin-top: 50px;
  }
  .directions__dir-2 {
    margin-top: 50px;
  }
  .directions__last-note {
    display: none;
  }
}
@media screen and (max-width: 826px) {
  .directions {
    grid-row: 3/4;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-template-rows: minmax(250px, auto) minmax(600px, auto) minmax(600px, auto) minmax(550px, auto) minmax(550px, auto) minmax(450px, auto) minmax(450px, auto) 1px;
  }
  .directions__title {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .directions__dir-1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .directions__dir-2 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .directions__dir-3 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .directions__dir-4 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .directions__dir-5 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .directions__dir-6 {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  .directions__last-note {
    grid-row: 8/9;
    grid-column: 1/2;
    margin-top: 20px;
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .directions {
    grid-template-rows: minmax(250px, auto) minmax(300px, auto) minmax(300px, auto) minmax(300px, auto) minmax(300px, auto) minmax(300px, auto) minmax(300px, auto) minmax(1px, auto);
  }
  .directions p {
    font-size: 18px;
  }
}
.features {
  grid-row: 4/5;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: minmax(30px, auto) minmax(400px, auto);
  grid-template-columns: minmax(700px, auto) minmax(400px, auto);
  grid-row-gap: 40px;
}
.features h3 {
  margin: 0;
}
.features__title {
  grid-row: 1/2;
  grid-column: 1/2;
}
.features__list {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: -20px;
}
.features__list-item {
  margin-top: 20px;
  display: flex;
}
.features__list-item-img {
  width: 15%;
  height: 100%;
  display: inline-block;
}
.features__list-item-img img {
  width: 97px;
}
.features__list-item-text {
  width: 80%;
  display: inline-block;
}
.features__list-item-text h5 {
  margin: 0;
  line-height: 28px;
  font-size: 18px;
}
.features__list-item-text p {
  margin: 0;
  line-height: 28px;
}
.features__buttons {
  grid-row: 2/3;
  grid-column: 2/3;
  background: url("../img/features-bg-full.jpg");
  border-radius: 0px 20px 20px 20px;
  background-size: cover;
  display: flex;
  align-items: end;
}
.features__buttons a {
  color: #fff;
}
.features__buttons ul {
  margin: 0;
  margin-bottom: 65px;
}
.features__buttons ul li {
  list-style: none;
}
.features__buttons ul li:nth-child(1) {
  margin-bottom: 93px;
}
.features__buttons ul li:nth-child(1) a:nth-child(1) {
  background-color: #8FBF00;
  padding: 25px 40px 25px 40px;
  min-width: 236px;
  min-height: 80px;
  border-radius: 0px 20px 20px 20px;
}
.features__buttons ul li:nth-child(1) a:nth-child(1):hover {
  padding: 23px 38px 23px 38px;
  background: #fff;
  border: 2px solid #8FBF00;
  color: #8FBF00;
  box-sizing: border-box;
}
.features__buttons ul li:nth-child(2) a:nth-child(1) {
  background-color: #FFAA00;
  padding: 25px 40px 25px 40px;
  min-width: 313px;
  min-height: 80px;
  border-radius: 20px 0px 20px 20px;
}
.features__buttons ul li:nth-child(2) a:nth-child(1):hover {
  background: #fff;
  padding: 23px 38px 23px 38px;
  border: 2px solid #FFAA00;
  color: #FFAA00;
  box-sizing: border-box;
}

@media screen and (max-width: 1135px) {
  .features {
    grid-template-columns: 100%;
    grid-template-rows: minmax(40px, auto) minmax(510px, auto) minmax(300px, auto);
  }
  .features__title {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .features__list {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .features__buttons {
    grid-row: 3/4;
    grid-column: 1/2;
    background: url("../img/features-bg-1024.png");
    background-size: cover;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .features__list-item {
    display: block;
  }
  .features__list-item-img {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .features__list-item-img img {
    width: 85%;
  }
  .features__list-item-text {
    width: 100%;
    margin-top: 25px;
  }
}
@media screen and (max-width: 500px) {
  .features__buttons {
    background: #fff;
    align-items: center;
    margin-top: 15px;
    justify-self: start;
  }
  .features__buttons ul {
    margin: 0;
    padding: 0;
  }
}
.location {
  grid-row: 5/6;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: minmax(20px, auto) minmax(280px, auto) minmax(180px, auto) minmax(40px, auto);
  grid-template-columns: 100%;
  grid-row-gap: 20px;
}
.location__title {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: end;
}
.location__title h3 {
  margin: 0;
}
.location__map {
  grid-row: 2/3;
  grid-column: 1/2;
}
.location__map iframe {
  border-radius: 0px 20px 20px 20px;
}
.location__projects {
  display: flex;
  justify-content: space-between;
  grid-row: 3/4;
  grid-column: 1/2;
}
.location__projects a {
  width: 48.34%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__projects a {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
.location__projects-project-1 {
  border-radius: 0px 20px 20px 20px;
  position: relative;
  overflow: hidden;
}
.location__projects-project-1::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: url("../img/project-1.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 1s ease;
  z-index: -1;
}
.location__projects-project-1:hover::after {
  transform: scale(1.1);
}
.location__projects-project-1:hover {
  color: #fff;
}
.location__projects-project-2 {
  border-radius: 0px 20px 20px 20px;
  position: relative;
  overflow: hidden;
}
.location__projects-project-2::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: url("../img/project-2.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 1s ease;
  z-index: -1;
}
.location__projects-project-2:hover::after {
  transform: scale(1.1);
}
.location__projects-project-2:hover {
  color: #fff;
}
.location__footer {
  grid-row: 4/5;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 15% 10% 50%;
  justify-items: center;
  align-items: center;
}
.location__footer-accept {
  width: 294px;
  height: 80px;
  background-color: #8FBF00;
  border-radius: 0px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}
.location__footer-accept:hover {
  background: #fff;
  border: 2px solid #8FBF00;
  color: #8FBF00;
  text-decoration: none;
}
.location__footer-number {
  font-weight: 700;
}
.location__footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.location__footer ul li {
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .location__footer {
    grid-template-columns: 35% 25% 10% 30%;
  }
}
@media screen and (max-width: 768px) {
  .location__projects {
    display: block;
  }
  .location__projects a {
    height: 200px;
    width: 100%;
    margin-top: 40px;
  }
  .location__footer {
    grid-template-rows: minmax(60px, auto) minmax(90px, auto);
    grid-template-columns: 33% 33% 33%;
  }
  .location__footer-accept {
    justify-self: start;
    grid-row: 2/3;
    grid-column: 1/4;
  }
}
@media screen and (max-width: 500px) {
  .location__footer {
    display: grid;
    grid-template-rows: minmax(45px, auto) minmax(45px, auto) minmax(90px, auto);
    grid-template-columns: 50% 50%;
  }
  .location__footer-accept {
    margin-top: 20px;
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .location__footer-address {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .location__footer-number {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: start;
  }
  .location__footer-socials {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
  }
}
.footer {
  grid-row: 6/7;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 50% 50%;
  align-items: center;
  grid-column-gap: 40px;
  color: #808080;
  font-size: 18px;
}
.footer a {
  color: #808080;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul li {
  display: inline-block;
}
.footer__logo {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: center;
}
.footer__nav {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: start;
}
.footer__nav ul li {
  margin-right: 40px;
}
.footer__details {
  grid-row: 2/3;
  grid-column: 1/3;
  justify-self: start;
  font-size: 12px;
}
.footer__details ul li {
  margin-right: 20px;
}

@media screen and (max-width: 920px) {
  .footer {
    grid-template-rows: 33% 33% 33%;
    grid-row-gap: 40px;
    grid-column-gap: 0px;
  }
  .footer__nav {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .footer__details {
    grid-row: 3/4;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 650px) {
  .footer {
    grid-template-rows: 40px minmax(50%, auto) auto;
    grid-row-gap: 40px;
    grid-column-gap: 0px;
    grid-template-columns: 1fr;
  }
  .footer__logo {
    justify-self: center;
  }
  .footer__nav {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .footer__nav ul li {
    display: block;
    line-height: 48px;
  }
  .footer__details {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .footer__details ul li {
    display: block;
    line-height: 24px;
  }
}
body {
  font-size: 18px;
  color: #00141E;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: #00141E;
}
a:hover {
  color: #aaaaaa;
}

h3 {
  font-size: 36px;
}

.wrapper {
  display: grid;
  grid-template-rows: minmax(30px, auto) 100%;
  grid-template-columns: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: minmax(600px, auto) minmax(500px, auto) minmax(2000px, auto) minmax(636px, auto) minmax(720px, auto) minmax(90px, auto);
  grid-row-gap: 50px;
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 570px) {
  .wrapper {
    grid-template-rows: 150px;
  }

  .main {
    grid-template-rows: minmax(1000px, auto) minmax(500px, auto) minmax(1800px, auto) minmax(980px, auto) minmax(980px, auto) minmax(160px, auto);
  }
}

/*# sourceMappingURL=base.css.map */
