body {
  font-size: 18px;
  color: #00141E;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: #00141E;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  display: -ms-grid;
  grid-template-rows: minmax(98px, auto) minmax(600px, auto);
  -ms-grid-rows: 98px 600px;
}

.header {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 3.8fr;
  -ms-grid-columns: 1fr 3.8fr;
  align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
}

.header__main-menu {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 0.7fr 0.4fr 2.2fr 0.4fr;
  -ms-grid-columns: 0.7fr 0.4fr 2.2fr 0.4fr;
  -ms-grid-column: 2;
}

.header__phone {
  justify-self: start;
  -ms-grid-column-align: start;
  margin-left: 30px;
  font-weight: bold;
  align-self: center;
  -ms-grid-row-align: center;
  -ms-grid-column: 1;
}

.header__messengers {
  align-self: center;
  -ms-grid-row-align: center;
  -ms-grid-column: 2;
}

.header__messengers a:nth-child(2) {
  margin-left: 15px;
}

.header__menu {
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  align-self: center;
  -ms-grid-row-align: center;
  -ms-grid-column: 3;
}

.header__menu ul {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.header__menu li {
  display: inline;
}

.header__menu-item-main {
  margin-right: 20px;
}

.header__menu-item-main:nth-child(3) {
  margin-right: 40px;
}

.header__menu-item-main a {
  color: #808080;
}

.header__menu-item-project {
  margin-right: 20px;
}

.header__menu-item-project:nth-child(2) {
  margin-right: 0;
}

.header__socials {
  justify-self: end;
  -ms-grid-column: 4;
}

.header__socials a:nth-child(1) {
  margin-right: 15px;
}

.header__burger {
  display: none;
}

.banner {
  display: grid;
  grid-row: 2/3;
  -ms-grid-row: 2;
  display: -ms-grid;
  grid-template-rows: 72px 104px 1fr;
  -ms-grid-rows: 72px 104px 1fr;
  max-height: 600px;
  background: url("../img/banner.jpg");
  border-radius: 0px 20px 300px;
  color: #fff;
  padding-top: 54px;
  padding-left: 74px;
}

.banner__title {
  grid-row: 1/2;
  -ms-grid-row: 1;
  align-self: start;
  justify-self: start;
}

.banner__title h1 {
  font-size: 72px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.banner__desc {
  grid-row: 2/3;
  -ms-grid-row: 2;
  align-self: start;
  justify-self: start;
  margin-top: 20px;
  width: 900px;
}

.banner__desc h2 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 42px;
}

.banner__buttons {
  margin-top: 65px;
  -ms-grid-row: 3;
}

.banner__buttons li:nth-child(1) > a {
  background: #8FBF00;
  border-radius: 0px 20px 20px 20px;
}

.banner__buttons li:nth-child(2) > a {
  background: #FFAA00;
  border-radius: 20px 20px 0px 20px;
}

.banner__buttons a {
  padding: 30px 70px 30px 70px;
  color: #fff;
}

.banner__buttons ul {
  margin: 0;
  padding: 0;
}

.banner__buttons ul li {
  display: inline;
}

.banner__buttons ul li:nth-child(2) {
  margin-left: 30px;
}

@media screen and (max-width: 1150px) {
  .wrapper {
    max-width: 970px;
  }

  .header {
    grid-template-rows: 80px;
    -ms-grid-rows: 80px;
    -ms-grid-row: 1;
    display: -ms-grid;
  }

  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .header__main-menu {
    grid-template-rows: 0.2fr 1fr;
    -ms-grid-rows: 0.2fr 1fr;
    grid-template-columns: 180px 100px 1fr;
    -ms-grid-columns: 180px 100px 1fr;
    margin-top: 50px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .header__phone {
    margin-left: 40px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .header__messengers {
    margin-left: 20px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .header__socials {
    grid-row: 1/2;
    -ms-grid-row: 1;
    grid-column: 3/4;
    -ms-grid-column: 3;
    justify-self: start;
    -ms-grid-column-align: start;
    margin-left: 40px;
  }

  .header__menu {
    grid-row: 2/3;
    grid-column: 1/4;
    margin-left: -260px;
    margin-top: 20px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
  }

  .banner {
    margin-top: 40px;
    max-width: 900px;
    grid-template-rows: 50% 50%;
    -ms-grid-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-columns: 50% 50%;
    padding: 0;
  }

  .banner__title {
    width: 339px;
    grid-row: 1/2;
    -ms-grid-row: 1;
    grid-column: 1/2;
    -ms-grid-column: 1;
    margin-top: 74px;
    line-height: 64px;
    margin-left: 74px;
  }

  .banner__desc {
    grid-row: 1/2;
    -ms-grid-row: 1;
    grid-column: 2/3;
    -ms-grid-column: 2;
    margin-top: 74px;
    max-width: 395px;
  }

  .banner__buttons {
    margin-left: 74px;
    grid-row: 2/3;
    -ms-grid-row: 2;
    grid-column: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 700px;
  }

  .banner {
    background: #fff;
    max-width: 100%;
    object-fit: cover;
    grid-template-rows: 1fr 1fr 1.3fr;
  }

  .banner__title {
    background: url("../img/banner.jpg") no-repeat;
    border-radius: 0px 20px 175px;
    padding: 76px 100% 74px 0;
    margin: 0;
    background-size: contain;
    background-size: 110%;
  }

  .banner__title h1 {
    margin-left: 74px;
  }

  .banner__desc {
    grid-row: 2/3;
    color: #000;
    grid-column: 1/3;
    max-width: 600px;
    justify-self: start;
    margin-top: 40px;
  }

  .banner__buttons {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-left: 0;
    margin-top: 70px;
  }
}
@media screen and (max-width: 570px) {
  .wrapper {
    grid-template-rows: 150px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 16px;
  }

  .header__burger {
    display: block;
    justify-self: center;
    grid-column: 2/3;
  }

  .header__main-menu {
    border-top: 2px solid #EBEBEB;
    border-bottom: 2px solid #EBEBEB;
    grid-column: 1/3;
    align-self: start;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 0.5fr;
    padding-bottom: 20px;
    transform: translateX(-130%);
    transition: transform 0.2s ease;
    background-color: #fff;
    padding-bottom: 20px;
    width: 98%;
  }

  .header__menu {
    grid-row: 1/2;
    grid-column: 1/3;
    margin-left: 50px;
    margin-top: 22px;
    line-height: 48px;
  }

  .header__menu ul {
    margin: 0;
    padding: 0;
  }

  .header__menu ul li {
    display: block;
  }

  .header__phone {
    grid-row: 2/3;
    grid-column: 1/3;
    margin-left: 50px;
  }

  .header__messengers {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 50px;
  }

  .header__socials {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    justify-self: start;
    margin: 0;
  }

  .header .ham {
    /* always keep ham on top of everything */
    z-index: 1000;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* show the menu image */
    background-image: url("../img/open_menu.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 22px;
    top: 33px;
  }

  .header .showNav {
    transform: translateX(0);
  }

  .header .showClose {
    position: absolute;
    width: 26.21px;
    height: 26.38px;
    top: 30px;
    background-image: url("../img/close_menu.svg");
  }
}
.banner {
  transition: transform 0.2s ease;
}

.moveBanner {
  transform: translateY(430px);
  transition: transform 0.2s ease;
}

@media screen and (max-width: 570px) {
  .wrapper {
    max-width: 350px;
  }

  .banner {
    max-width: 100%;
    object-fit: cover;
    grid-template-rows: 450px 350px 300px;
    margin-top: -50px;
  }

  .banner__title {
    grid-row: 1/3;
    width: 100%;
    padding-bottom: 300px;
    background-size: cover;
  }

  .banner__title h1 {
    margin-top: -40px;
    margin-left: 40px;
    font-size: 36px;
    line-height: 36px;
  }

  .banner__desc {
    grid-row: 2/3;
    color: #000;
    grid-column: 1/3;
    max-width: 300px;
    justify-self: start;
    margin-top: 40px;
    min-height: 350px;
  }

  .banner__desc h2 {
    font-size: 36px;
  }

  .banner__buttons {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-left: 0;
    margin-top: 70px;
  }

  .banner__buttons ul {
    margin: 0;
    padding: 0;
  }

  .banner__buttons ul li {
    display: block;
  }

  .banner__buttons ul li:nth-child(2) {
    margin-left: 0;
    margin-top: 99px;
  }
}
/*# sourceMappingURL=media.scss.map */

/*# sourceMappingURL=main.css.map */
