.landmarks {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px minmax(1500px, auto);
}
.landmarks__title {
  grid-row: 1/2;
  grid-column: 1/3;
}
.landmarks__title h3 {
  margin: 0;
  padding: 0;
}
.landmarks__items {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 49% 49%;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}
.landmarks__items img {
  width: 550px;
}
.landmarks__items h4 {
  margin: 0;
  padding: 0;
  margin-top: 32px;
}
.landmarks__items p {
  margin: 0;
  padding: 0;
  line-height: 28px;
}
.landmarks__items-item1 {
  align-self: center;
}
.landmarks__items-item1 img {
  border-radius: 285px 285px 285px 0px;
}
.landmarks__items-item2 {
  align-self: center;
  justify-self: end;
}
.landmarks__items-item2 img {
  border-radius: 285px 0px 285px 285px;
}
.landmarks__items-item2-img {
  text-align: right;
}
.landmarks__items-item3 {
  align-self: center;
}
.landmarks__items-item3 img {
  border-radius: 285px 285px 285px 0px;
}
.landmarks__items-item4 {
  align-self: center;
}
.landmarks__items-item4 img {
  border-radius: 285px 0px 285px 285px;
}
.landmarks__items-item4-img {
  text-align: right;
}

@media screen and (max-width: 1250px) {
  .landmarks {
    grid-column-gap: 0;
  }
  .landmarks__items img {
    width: 90%;
  }
  .landmarks__items {
    padding: 10px;
  }
  .landmarks__items p {
    word-break: break-word;
  }
}
@media screen and (max-width: 1200px) {
  .landmarks {
    grid-template-rows: 40px minmax(900px, auto);
  }
}
@media screen and (max-width: 1024px) {
  .landmarks__items {
    grid-column-gap: 0;
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 900px) {
  .landmarks {
    grid-template-rows: 40px minmax(300px, auto);
  }
}
@media screen and (max-width: 768px) {
  .landmarks {
    grid-template-columns: 100%;
  }
  .landmarks__items {
    grid-column-gap: 0;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 100%;
  }
  .landmarks__items-item2, .landmarks__items-item4 {
    justify-self: start;
  }
  .landmarks__items-item1-text, .landmarks__items-item2-text, .landmarks__items-item3-text, .landmarks__items-item4-text {
    width: 360px;
    margin-left: 25px;
  }
  .landmarks__items-item-img, .landmarks__items-item2-img, .landmarks__items-item3-img, .landmarks__items-item4-img {
    justify-self: start;
    text-align: left;
  }
  .landmarks__item {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .landmarks__item img {
    width: 90%;
  }
}
@media screen and (max-width: 565px) {
  .landmarks {
    margin-top: 50px;
  }
  .landmarks__item {
    display: block;
    text-align: center;
  }
  .landmarks__items-item1-text, .landmarks__items-item2-text, .landmarks__items-item3-text, .landmarks__items-item4-text {
    text-align: left;
  }
}
@media screen and (max-width: 465px) {
  .landmarks {
    grid-template-columns: 1fr;
    grid-template-rows: 100px minmax(600px, auto);
    margin-top: 20px;
  }
  .landmarks__items {
    grid-template-columns: 1fr;
  }
  .landmarks__items-item1-text, .landmarks__items-item2-text, .landmarks__items-item3-text, .landmarks__items-item4-text {
    width: 100%;
    text-align: left;
    margin: 0;
  }
  .landmarks__items-item-img, .landmarks__items-item2-img, .landmarks__items-item3-img, .landmarks__items-item4-img {
    justify-self: start;
    text-align: center;
  }
  .landmarks__item img {
    width: 300px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .landmarks__items {
    grid-row-gap: 20px;
  }
  .landmarks__item img {
    width: 220px;
  }
}

/*# sourceMappingURL=project1_landmarks.css.map */
